html{
    scroll-behavior: smooth;
}
body{
    background-color:#1E3859;
    font-family: 'Comfortaa',verdana,sans-serif, cursive;
    margin:0;
    width: 100%;
}
    .top-bar {
        position: fixed;
        margin: 0;
        padding: 0;
        background-color:#4B8CA6;
        width:100%;
        font-size: 1rem;
        color: white;
        
    }
    .top-bar div{
        display: inline-block;
        margin: 0;
        padding: 0;
    
    }
    .top-bar div ul{
        margin: 0;
        padding: 0;
    
    }
    #email a{
        color: white;
       text-decoration: none;
    }
    #tbleft ul {
        margin-right:5vw;
    
    }
    #tbright  {
    display: none;
       
    }
    #tbleft ul li{
        display: inline-block;
        margin-left: 5vw;
    }
  
 h1 {
    width: 80vw;
    margin:auto;
    text-align: center;
    padding-top: 10vh;
    color: #D93B58;
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    border-bottom:solid 2px #D93B58;


}
nav{
    width: 73vw;
    margin: auto;
    padding:1rem;
    border-top: solid 2px #D93B58;
    border-bottom: 2px solid white;
    margin-top: 5px;


}
nav ul {
    list-style: none;
    padding: 6px;
    text-align: center;
    margin-top: 2px;
}

nav li {
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    padding: 1rem;



}
nav a{

    color: #F1FAEE;
    margin: 1vw;
    font-size: .8rem;

}

nav a:hover{
    text-decoration: None;
    color: #D93B58;
    border-bottom:dashed 5px #D93B58;

}

section{
    margin: 0;
    padding: 0;
    background-color:white;
    margin:auto;
    border-bottom: 2px solid black;
}
section h5{
    border-top: 2px solid black;
    color: #4B8CA6 ;
    text-align: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
    margin: 0;
    

}
section p{
    color: #D93B58;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.heading img{
    width: 100%;
    height:100%;

}
#products {
    border-top: 2px solid #F1FAEE;
    height: 100vh;
}
.container ul {
    list-style: none;
    color: cornsilk;

}